.idea
.vscode/
.postman
.pytest_cache/
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
report/allure-results/
test.log
test.log.*
.DS_Store
Thumbs.db
# 忽略真实的配置文件
02-Mall-testing/common/config.yaml
02-Mall-testing/performance/html_report/
02-Mall-testing/performance/result.jtl
